.container {
  width: 60%;
  position: relative;
  // top: 10%;
  // margin-top: 10%;
  padding: auto;
  margin: auto;
  margin-top: 10%;
  // transform: translate(-50%, -50%);
}

table {
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 20px rgba(0, 0, 0.15);
  table-layout: fixed;
}
