.content {
  align-content: center;
  // max-height: 60%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12%;
  margin-bottom: 12%;
}
@media (max-width: 700px) {
  .content {
      margin-bottom: 20%;
  }
}