.container {
  max-height: 65%;
  overflow-y: auto;
  overflow-x: auto;
  // overflow: auto;
  width: auto;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search {
  border-radius: 5px;
  border: solid 5px black;
  background-color: rgb(182, 122, 44);
  color: black;
}
#page {
  width: 50%;
  background-color: rgb(182, 122, 44);
  color: black;
}
.headers {
  color: rgb(224, 171, 102);
}
th.mat-sort-header-sorted {
  color: black;
}