// .container {
//   padding: 10px;
// }
.search {
  border-radius: 5px;
  border: solid 5px black;
  background-color: rgb(182, 122, 44);
  color: black;
}
#page {
  width: 50%;
  background-color: rgb(182, 122, 44);
  color: black;
}
.headers {
  color: rgb(224, 171, 102);
}
th.mat-sort-header-sorted {
  color: black;
}
@media (max-width: 700px) {
  .container {
      margin-left: 20%;
  }
}